--find-links https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
torch>=2.2.0+cu121
torchvision>=0.17.0+cu121
torchaudio>=2.2.0+cu121
transformers[torch]>=4.36.0
datasets>=2.15.0
wandb>=0.16.0
matplotlib>=3.8.0
seaborn>=0.13.0
accelerate>=0.25.0
ninja
apex
psutil>=5.9.0
numpy>=1.24.0